In [1]:
import mysql.connector as mysql

Open the databse using the connect method

In [2]:
connect = mysql.connect(
    host = "localhost",
    user = "root", 
    password = "password", 
    database = "classicmodels"
)

print("Connecting to MySQL Database...")

Connecting to MySQL Database...

Let's check and see if we made a connection. To do this we create a cursor. It's called the cursor method.

In [3]:
cursor=connect.cursor()

selection = "SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine='{}'"

cursor.execute(selection.format("Motorcycles"))

In the cell above we created and excecuted our sql statement. But we have not used any methods to actually access that data from our select statement.

In [4]:
result=cursor.fetchall()
print(result)
connect.close()

[('Motorcycles', 13)]

That worked nicely. Let's try to make a new database without using the MySQL shell or GUI.
NOTE: Strings can be passed directly into execute

In [ ]:
connect = mysql.connect(
    user = "root", 
    password = "password", 
    database = "classicmodels"
)
cursor=connect.cursor()

cursor.execute("CREATE DATABASE test_db")
print("test_db created")

connect.close()

Let's add a table to the new databse we created

In [ ]:
connect = mysql.connect(
    database = "test_db",
    user = "root", 
    password = "password", 
)
cursor=connect.cursor()

string= "CREATE TABLE Registration \
    (id integer, age integer, \
    first VARCHAR(50), last VARCHAR(50))"

cursor.execute(string)

print("Registration Table is created")

connect.close()

Let's insert some data into the Registration table now 
DDL Data Definition Language (Create, Drop, Alter)
DML Data Manipulation Language (SELECT)
DQL Data Query Language (Insert, Update, Delete)

In [8]:
string="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"


connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
)
cursor=connect.cursor()
cursor.execute(string)
connect.commit()

connect.close()

Lets check the values we just inputted without using the gui

In [14]:
connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
)
cursor=connect.cursor()

string="SELECT * FROM Registration"
cursor.execute(string)

for item in cursor:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(item[0],item[1],item[2],item[3])) 

# another way:
# result=cursor.fetchall()
# print(result)
connect.close()

ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 29, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

In [19]:
connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
)
cursor=connect.cursor()

string="SELECT * FROM Registration WHERE FIRST LIKE '%ich%'"
cursor.execute(string)

for item in cursor:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(item[0],item[1],item[2],item[3])) 

connect.close()

ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan

Let's do an update now

In [20]:
connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
)
cursor=connect.cursor()
string= "UPDATE Registration \
        SET age=30 WHERE id in (100,101)"
cursor.execute(string)
connect.commit()
print("Values are Updated")
connect.close()

Values are Updated

generate_user_table():
➢ Establish a connection to the test_db.
➢ Create a user table with the following fields:
▶ email varchar(100)
▶ name varchar(50)
▶ password varchar(30)
➢ Insert the following values into the table:
▶ 'ywbaek@perscholas.org', 'young', 'letsgomets'
▶ 'mcordon@perscholas.org', 'marcial', 'perscholas'
▶ 'mhaseeb@perscholas.org', 'haseeb', 'platform'

In [38]:
def generate_user_table():
    connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
    )
    cursor=connect.cursor()
    string1="CREATE TABLE user_table \
    (email VARCHAR(100), name VARCHAR(50), password VARCHAR(30))"
    try:
        cursor.execute(string1)
    except mysql.Error as err:
        print("")
    string2="INSERT INTO user_table \
    (email, name, password) VALUES \
    ('ywbaek@perscholas.org', 'young', 'letsgomets'),\
    ('mcordon@perscholas.org', 'marcial', 'perscholas'),\
    ('mhaseeb@perscholas.org', 'haseeb', 'platform')"
    cursor.execute(string2)
    connect.commit()
    print("Values are inserted")
    connect.close()

generate_user_table()

Values are inserted

    get_all_users():
        ➢ Establish a connection to the test_db.
        ➢ Print out the email, name, and password of all users.

In [39]:
def get_all_users():
    connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
    )
    cursor=connect.cursor()
    string="SElECT * FROM test_db.user_table"
    cursor.execute(string)
    result=cursor.fetchall()
    print(result)

get_all_users()

[('ywbaek@perscholas.org', 'young', 'letsgomets'), ('mcordon@perscholas.org', 'marcial', 'perscholas'), ('mhaseeb@perscholas.org', 'haseeb', 'platform')]

    get_user_by_name(name):
        ➢ Establish a connection to the test_db.
        ➢ Print out the email and password of the user with the given name.

In [79]:
def get_user_by_name(name):
    print(name)
    connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
    )
    cursor=connect.cursor()
    string="SELECT * FROM test_db.user_table WHERE name ='{}'"
    cursor.execute(string.format(name))
    # result=cursor.fetchall()
    # print(result)
    for i in cursor:
        print("name: {} email:{} password: {}".format(i[1], i[0], i[2]))

get_user_by_name('young')

young
name: young email:ywbaek@perscholas.org password: letsgomets

    validate_user(email, password):
        ➢ Establish a connection to the test_db.
        ➢ Return True if a user exists with the given email and password. Return False otherwise.

In [80]:
def validate_user(email2, password2):
    connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
    )
    cursor=connect.cursor()
    string= "SELECT CASE WHEN EXISTS (SELECT * FROM test_db.user_table WHERE email='{}' AND password='{}') \
            THEN 'TRUE' \
            ELSE 'FALSE' \
            END"
    cursor.execute(string.format(email2, password2))
    result=cursor.fetchall()
    return result

print(validate_user('ywbaek@perscholas.org', 'letsgomets'))

[('TRUE',)]

    update_user(email, name, password):
        ➢ Establish a connection to the test_db.
        ➢ For the user with the given email, set the values of
        name and password to the given name and
        password.
        ➢ Return True if successful, False otherwise.

In [88]:
def update_user(email, name, password):
    connect = mysql.connect(
    database = "test_db",
    host= "localhost",
    user = "root", 
    password = "password", 
    )
    cursor=connect.cursor()
    string="UPDATE test_db.user_table \
            SET name = '{}', password = '{}' WHERE email= '{}'"
    try:
        cursor.execute(string.format(name, password, email))
        return True 
    except:
        return False

update_user("ywbaek@perscholas.org", "young123", "helllllo")

True